stages:
  - "Code Quality"
  - "Unit Tests"
  - "Reporting"
  - "Minitest"
  - docs
  - deploy


# -------------------- Code Quality ---------------------------------------------------------------------

.qa-base:
  stage: "Code Quality"
  image: i10git.cs.fau.de:5005/pycodegen/pycodegen/nox:alpine
  needs: []
  except:
    variables:
      - $ENABLE_NIGHTLY_BUILDS
  tags:
    - docker

lint:
  extends: .qa-base
  script:
    - nox --session lint

typecheck:
  extends: .qa-base
  script:
    - nox --session typecheck

# -------------------- Unit Tests ---------------------------------------------------------------------

.testsuite-base:
  stage: "Unit Tests"
  needs: []
  after_script:
    - mv .coverage .coverage.${CI_JOB_ID}
  artifacts:
    when: always
    paths:
      - .coverage.*
      - test-report
    reports:
      junit: report.xml

"testsuite-gpu-py3.10":
  extends: .testsuite-base
  image: i10git.cs.fau.de:5005/pycodegen/pycodegen/nox:ubuntu24.04-cuda12.6
  script:
    - nox -s "testsuite-3.10(cupy12)"
  tags:
    - docker
    - cuda
    - cudaComputeCapability6.1
    - AVX

"testsuite-cpu-py3.13":
  extends: .testsuite-base
  image: i10git.cs.fau.de:5005/pycodegen/pycodegen/nox:alpine
  script:
    - nox -s "testsuite-3.13(cpu)"
  tags:
    - docker
    - AVX

  
"testsuite-macOS-arm64-py3.11":
  extends: .testsuite-base
  before_script:
    - python -m pip install nox
  script:
    - python -m nox -s "testsuite-3.11(cpu)"
  tags:
    - macmini
    - arm64

# -------------------- Reporting -------------------------------------------------------------------------

coverage-report:
  image: i10git.cs.fau.de:5005/pycodegen/pycodegen/nox:alpine
  stage: "Reporting"
  script:
    - nox -s "coverage_report"
  coverage: /TOTAL.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  tags:
    - docker
  artifacts:
    when: always
    paths:
      - coverage_report
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml


# -------------------- Minitest -------------------------------------------------------------------------

"minitest-qemu-sve":
  stage: "Minitest"
  needs: []
  image: i10git.cs.fau.de:5005/pycodegen/pycodegen/nox:qemu-aarch64
  allow_failure: true
  variables:
    PYTHONPATH: ${CI_PROJECT_DIR}/src
  before_script:
    - source ${PYCODEGEN_VENV}/bin/activate
    - ln -s maintainer/qemu_armv8_fixtures.py override_fixtures.py
  script:
    - nox -s "minitest_simd(SVE)" --force-venv-backend=none
  tags:
    - docker
    - multiarch


# -------------------- Documentation ---------------------------------------------------------------------


build-documentation:
  image: i10git.cs.fau.de:5005/pycodegen/pycodegen/nox:ubuntu24.04-cuda12.6
  stage: docs
  needs: []
  script:
    - nox --session docs -- --fail-on-warnings
  tags:
    - docker
    - cuda
    - cudaComputeCapability6.1
  artifacts:
    paths:
      - docs/build/html
    when: always


pages:
  image: alpine:latest
  stage: deploy
  needs: ["testsuite-gpu-py3.10", "build-documentation"]
  script:
    - mv docs/build/html public
    - mv coverage_report public/coverage_report
  artifacts:
    paths:
      - public
  tags:
    - docker
  only:
    - master@pycodegen/pystencils
